IO/Project.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:HausarbeitAP" elementFormDefault="qualified" targetNamespace="urn:HausarbeitAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="project" type="tns:HausarbeitAP.ProjectCT" />
	<xs:complexType name="HausarbeitAP.ProjectCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="labels" type="tns:HausarbeitAP.LabelsCT">
				<xs:annotation>
					<xs:documentation>The labels included in this project.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="section" type="tns:HausarbeitAP.SectionCT">
				<xs:annotation>
					<xs:documentation>Volume of Interest.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The projects title.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>A description of this project.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="totalLayers" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The number of images in the this package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The images width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The images height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HausarbeitAP.LabelsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="label" type="tns:HausarbeitAP.LabelCT">
				<xs:annotation>
					<xs:documentation>The Label Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HausarbeitAP.LabelCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Unique id for each label.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="title" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The labels name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>A small describing text.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The color in which the label should be displayed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HausarbeitAP.SectionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="x" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>X of the areas upper left corner</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="y" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Y of the areas upper left corner</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The areas width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The areas height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="z" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>First layer to show.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="depth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Layers to show</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
